body {
    padding-top: 60px;
    padding-bottom: 40px;
}

#term {
    height: auto;
    overflow: visible;
}

.CodeMirror {
    border: 1px solid #eee;
}

.CodeMirror-scroll {
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
}

#modal_notice {
    font-style: italic;
    text-align: center;
}

header {
    font-size: 81px;
    font-weight: bold;
    margin-bottom: 18px;
    text-align: center;
}

footer {
    bottom: 0;
    left: 0;
    padding: 10px;
    position: absolute;
    right: 0;
}

footer p {
    text-align: center;
}

#form_flash {
    display: none;
    margin: 0 auto 20px auto;
    max-width: 500px;
    min-width: 150px;
    text-align: center;
}

#res pre {
    max-height: 500px;
    overflow: auto;
}

