#term {
    height: auto;
    overflow: visible;
}

.CodeMirror {
    border: 1px solid #eee;
}

.CodeMirror-scroll {
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
}

.head {
    text-align: center;
    margin-bottom: 18px;
    font-size: 81px;
    font-weight: bold;
}
